.imageGroup{
  position: absolute;
  width: 40%;
}

.image{
  border: 5px solid SteelBlue;
}

.profileImg{
  width: 50%;
  position: absolute;
}

.music1Img{
  width: 47.5%;
  position: absolute;
  left: 55%;
}

.music3Img{
  width: 47.5%;
  position: absolute;
  left: 55%;
  top: 50%;
  margin-top: 35.5%;
}

.adven2Img{
  position: absolute;
  margin-top: 70%;
  width: 102.5%;
}

.boxMover{
  top: 2.5%;
  position: absolute;
  width: 40%;
  margin-left: 42.5%;
}

.textOutline{
  position: absolute;
  width: 95%;
}

.insideText{
  border: 5px solid SteelBlue;
  padding: 1%;
  background-color: White;
  position: absolute;
  width: 95%;
}

.clearfix{
  clear: both;
}
