

  body .projects{
  padding: 10px;
  text-decoration: none;
  font-size: 25px;
  color: Black;
  display: block;
}

#main .projects:hover{
  color: SteelBlue;
}

.projectLinks{
  display: inline-block;
}

.mdttt{
  width: 450px;
  background-color: SteelBlue;
  margin: 30px;
}

.mdttt a {
  padding: 20px;
  text-decoration: none;
  font-size: 25px;
  color: White;
  display: block;
  text-align: center;

}

.mdttt a:hover {
  color: Maroon;
  background-color: LightSteelBlue;
}

.invadeEvade{
  width: 450px;
  background-color: SteelBlue;
  margin: 30px;
}

.invadeEvade a {
  padding: 20px;
  text-decoration: none;
  font-size: 25px;
  color: White;
  display: block;
  text-align: center;

}

.invadeEvade a:hover {
  color: Maroon;
  background-color: LightSteelBlue;
}

.invadeEvade .fa{
  width: 200px;
}

.fishGame{
  width: 450px;
  background-color: SteelBlue;
  margin: 30px;
}

.fishGame a {
  padding: 20px;
  text-decoration: none;
  font-size: 25px;
  color: White;
  display: block;
  text-align: center;

}

.fishGame a:hover {
  color: Maroon;
  background-color: LightSteelBlue;
}

.fishGame .fa{
  width: 200px;
}
