.imageGroup{
  position: relative;
  width: 40%;
}

.image{
  border: 5px solid SteelBlue;
}

.profileImg{
  width: 50%;
}

.music1Img{
  width: 50%;
}

.music3Img{
  width: 50%;
}

.adven2Img{
}

.text{

}
.frozenText{
  position: relative;
  width: 45%;
  left: 50%;
  transform: translate(-50%,-50%);
  border: 5px solid SteelBlue;
  padding: 1%;
  background-color: White;
}
.clearfix{
  clear: both;
}
