.images{
  width: 30%;
  margin-right: 2%;
  float: left;
}

.text{
  width: 50%;
  float: left;
}

.frozenText{
  position: absolute;
  width: 50%;
}
.clearfix{
  clear: both;
}

.adven2{
  width: 30%;
  margin-right: 2%;
}
