.imageHolder{
  position: absolute;
  width: 30%;
  top: 13%;
  margin-left: 30%;
}

.image{
  border: 5px solid SteelBlue;
}

.landscape{
  position: absolute;
}

.title{
  position: absolute;
  width: 40%;
  top: 1%;
  margin-left: 27%;
}

.titleText{
  border: 5px solid SteelBlue;
  padding: 1%;
  background-color: White;
  position: absolute;
  text-align: center;
  width: 95%;
}

.directionTitle{
  position: absolute;
  width: 40%;
  top: 54%;
  margin-left: 27%;
}

.dirTitleText{
  border: 5px solid SteelBlue;
  padding: 1%;
  background-color: White;
  position: absolute;
  width: 95%;
  text-align: center;
}

.directions{
  position: absolute;
  width: 40%;
  top: 64%;
  margin-left: 27%;
}

.dirText{
  border: 5px solid SteelBlue;
  padding: 1%;
  background-color: White;
  position: absolute;
  width: 95%;
  text-align: center;
}

.textOutline{
  position: absolute;
  width: 95%;
}
