
.title{
  text-align: center;
  width: 40%;
  position: relative;
  left: 50%;
  top: 7.5%;
  transform: translate(-50%,-50%);
  min-width: 750px;
  padding-right: 95px;
  padding-top: 5%;
}
.titleFreeze{
  border: 5px solid SteelBlue;
  background-color: White;
}

.image{
  width: 30%;
  position: relative;
  left: 50%;
  top: 35%;
  transform: translate(-50%,-50%);
  padding-right: 95px;
  padding-top: 15%;

}
.Landscapes{
  border: 5px solid SteelBlue;
  min-height: 400px;
  min-width: 600px;
}

.directionTitle{
  text-align: center;
  width: 40%;
  min-width: 750px;
  position: relative;
  left: 50%;
  top: 59%;
  transform: translate(-50%,-50%);
  padding-right: 95px;
  margin-top: -18%;
}

.dirTitleText{
  border: 5px solid SteelBlue;
  background-color: White;
}

.directions{
  width: 40%;
  min-width: 750px;
  position: relative;
  left: 50%;
  top: 80%;
  transform: translate(-50%,-50%);
  padding-right: 95px;
  margin-top: 10%;
}

.frozenText{
  border: 5px solid SteelBlue;
  background-color: White;
}

.dirList{

}
