<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

* {
      margin: 0px;
      padding: 0px;
    }

    #sidebar {
      position: absolute;
      width: 300px;
      height: 100%;
      background: SteelBlue;
      left: -200px;
      transition: .4s;
    }

    #sidebar ul li {
      list-style: none;
      color: Blue;
      font-size: 20px;
      padding: 26px 24px;
    }

    #sidebar.active {
      left: 0;
    }
    #sidebar.inactive{
      left: -200px
    }
