
body{
  font-family: "Josefin", sans-serif;;
}

.sidebar {
  height: 100%;
  width: 85px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: SteelBlue;
  transition: 0.5s;
  overflow-x: hidden;
  padding-top: 60px;
  white-space: nowrap;
}

.sidebar a {
  padding:10px;
  text-decoration: none;
  font-size: 25px;
  color: White;
  display: block;
}


.sidebar a:hover {
  color: Maroon;
  background-color: LightSteelBlue;
}

main .sidebar {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}


#main {
  padding: 16px;
  margin-left: 85px;
  transition: margin-left 0.5s;
}

.sidebar .fa {
  padding: 20px;
  font-size: 26px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}
.sidebar .contacts .fa{
  width: 20px;
  padding-left: 30px;
}

.contacts{
  padding: 10px;
  font-size: 26px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  bottom: 0;
}

.fa-house{
  color: White;
}
.fa-house:hover{
  color: Maroon;
}

.fa-envelope{
  color: White;
}
.fa-envelope:hover{
  color: Maroon;
}

.fa-instagram{
  color: White;
}
.fa-instagram:hover{
  color: Maroon;
}

.fa-twitter{
  color: White;
}
.fa-twitter:hover{
  color: Maroon;
}
