

  body .projects{
  padding: 10px;
  text-decoration: none;
  font-size: 25px;
  color: Black;
  display: block;
}

#main .projects:hover{
  color: SteelBlue;
}

.mdttt{
  width: 450px;
  background-color: SteelBlue;
}

.mdttt a {
  padding: 30px;
  text-decoration: none;
  font-size: 25px;
  color: White;
  display: block;

}

.mdttt a:hover {
  color: Maroon;
  background-color: LightSteelBlue;
}
